$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import 'font-awesome';
// bower:scss
// endbower

$size-30: 20px;
$size-30: 30px;
$size-50: 50px;

@mixin font-size($some-number) {
  font-size: $some-number;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background: #888888;
  font-family: "Myriad Pro";
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
  .fa{
    color: #333333;
    margin-top: 100%;
  }
  .arrow{
    width: 20%;
  }
}

.box-informations{
  background: #fff;
  width: 100%;
  max-width: 760px;
  min-height: 530px;
  height: 100%;
  margin: auto;
  box-shadow: -5px -5px 5px 0px rgba(0, 0, 0, 0.65);
  padding: 20px;
}

.user-informations{
  width: 100%;
  height: 122px;
  .name{
    font-size: $size-50;
  }
  .username{
    font-size: $size-30;
    float: left;
  }
  .see{
    color: #000;
    font-size: $size-30;
  }
}
.infos-body{
  width: 100%;
}
.address{
  margin-top: 40px;
  text-align: center;
  width: 100%;  
}
.data{
  @include font-size(30px);
}

.separated{
  @include font-size(20px);
  min-height: 80px;
}

.posts-body{
  .title{
    width: 100%;
    float: left;
    opacity: 0.65;
    @include font-size(20px);
  }
  .last{
    margin-top: 40px;
  }
  .body{
    @include font-size(30px);
  }
}
.select-post{
  text-align: center;
  margin-top: 40px;
  .fa{
    color: #000;
  }
}

.website{
  margin-right: 168px;
}