<div class="box-informations">
	<header class="user-informations">
		<div class="pull-left">
			<span class="name">{{user.name}}</span>
			</br>
			<span class="username">@{{user.username}}</span>
		</div>		
		<a ng-if="controller==='UsersCtrl'" href="#/posts/{{user.id}}">
			<div class="pull-right see">
				<span>See posts</span>
			</div>
		</a>
		<a ng-if="controller==='PostsCtrl'" href="#/users">
			<div class="pull-right see">
				<span>See infos</span>
			</div>
		</a>		
	</header>
	<div ng-if="controller==='UsersCtrl'">
		<div class="infos-body pull-left">
			<div class="phone separated">
				<span class="pull-left font size20">Phone:</span>
				</br>
				<span class="data pull-left	">{{user.phone}}</span>
			</div>
			<div class="website pull-right separated">
				<span class="pull-left">Site:</span>
				</br>
				<span class="data pull-left">{{user.website}}</span>
			</div>
			<div class="email separated">
				<span class="pull-left">Mail:</span>
				</br>
				<span class="data pull-left">{{user.email}}</span>
			</div>
			<div class="company pull-left separated">
				<span class="pull-left">Company:</span>
				</br>
				<span class="data pull-left">{{user.company.name}}</span>
			</div>		
		</div>
		<footer class="address pull-left">
			<div>
				<span>Adress:</span>
			</div>
			<span class="data">{{user.address.street}}, {{user.address.suite}}</span>
			</br>
			<span class="data">{{user.address.city}} - {{user.address.zipcode}}</span>
		</footer>
	</div>
	<div ng-if="controller==='PostsCtrl'">
		<div class="posts-body">
			<div class="first">
				<span class="title">
					{{userPosts[0].title}}
				</span>
				<span class="body">
					{{userPosts[0].body}}
				</span>
			</div>
			<div class="last">
				<span class="title">
					{{userPosts[1].title}}
				</span>
				<span class="body">
					{{userPosts[1].body}}
				</span>
			</div>
		</div>
		<footer class="select-post {{loadMorePos}}">
			<a href="" ng-click="loadMore(1)"><i ng-class="loadMorePos == 1 ? 'fa-circle-o' : 'fa-circle'" class="fa "></i></a>
			<a href="" ng-click="loadMore(2)"><i ng-class="loadMorePos == 2 ? 'fa-circle-o' : 'fa-circle'" class="fa "></i></a>
			<a href="" ng-click="loadMore(3)"><i ng-class="loadMorePos == 3 ? 'fa-circle-o' : 'fa-circle'" class="fa "></i></a>
			<a href="" ng-click="loadMore(4)"><i ng-class="loadMorePos == 4 ? 'fa-circle-o' : 'fa-circle'" class="fa "></i></a>
			<a href="" ng-click="loadMore(5)"><i ng-class="loadMorePos == 5 ? 'fa-circle-o' : 'fa-circle'" class="fa "></i></a>
		</footer>		
	</div>
</div>