<!-- <div class="box-informations" >
	<header class="user-informations">
		<div class="pull-left">
			<span class="name">{{user.name}}</span>
			</br>
			<span class="username">@{{user.username}}</span>
		</div>		
		<a href="#/posts/{{user.id}}">
			<div class="pull-right see">
				<span>See infos</span>
			</div>
		</a>
	</header>
	<div class="infos-body pull-left">
		<div class="phone separated">
			<span class="pull-left font size20">Phone:</span>
			</br>
			<span class="data pull-left	">{{user.phone}}</span>
		</div>
		<div class="website pull-right separated">
			<span class="pull-left">Site:</span>
			</br>
			<span class="data pull-left">{{user.website}}</span>
		</div>
		<div class="email separated">
			<span class="pull-left">Mail:</span>
			</br>
			<span class="data pull-left">{{user.email}}</span>
		</div>
		<div class="company pull-left separated">
			<span class="pull-left">Company:</span>
			</br>
			<span class="data pull-left">{{user.company.name}}</span>
		</div>		
	</div>
</div> -->
<ng-box></ng-box>