<div class="jumbotron">
  <div class="pull-left arrow">
    <a href="" ng-click="previous(user.id)"><i class="fa fa-angle-double-left fa-4x"></i></a>
  </div>
  <div class="pull-right arrow">
    <a href="" ng-click="next(user.id)"><i class="fa fa-angle-double-right fa-4x"></i></a>
  </div>
  <ng-box></ng-box>
</div>
